<div class="row logo">
	<div class="logo"></div>
</div>
<div class="row">
	<div class="span5 offset1 home-column">
		<h2>PITCH!</h2>
		<h3>Ik zoek een huis omdat</h3>
		<p>Ik wil graag een plekje voor mezelf wil waar ik kan doen wat ik wil zonder afhankelijk te zijn</p>
		<h3>MIJN MAXIMALE LASTEN ZIJN:</h3>
		<p>450 euro in de maand</p>
		<h3>IK WIL GRAAG EEN:</h3>
		<p>Appartement! Het liefst met leuke huisgenoten</p>
		<h3>WAT GEEF IK DE WIJK:</h3>
		<p>Ik geef de wijk gezelligheid en nog te organiseren feesten!</p>
		<h3>SPECIALE VRAAG:</h3>
		<p>Ik weet niet hoe ik een aanvraag kan doen voor huursubsidie, kan iemand hier mij mee helpen?</p>
	</div>
	<div class="span5 home-column">	
		<h2>INFORMATIE</h2>
		<p>Wil je iets weten over het kopen of huren van een appartement, het aanvragen van een hypotheek of de berekening van je vaste lasten? Zoek niet verder, hieronder hebben we voor jou alles informatie op een rijtje gezet zodat je weet waar je aan toe bent
		Klik op de bijbehorende link voor de informatie die je nodig hebt!</p>
	</div>
	<div class="span5 offset1 bottom-row">
	</div>
	<div class="span5 bottom-row">
		<div class="fb-like-box" data-href="http://www.facebook.com/NijmegensGotHousing" data-width="380" data-height="250" data-show-faces="true" data-stream="false" data-header="false"></div>	
	</div>
</div>