<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./">Housing</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to "Bla", "" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>